<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue-app</title>
  </head>
  <body>
    <div id="app">
      <h1>{{titulo}}</h1>
      <ul>
        <li v-for="artist in artists">
          <p v-if="artist.title">{{artist.title.rendered}}</p>
        </li>
      </ul>
      <footer>
        copyright by Pedrito Jose. Todos los derechos reservados
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
