header {
  background: #000;
  padding: 20px; }
  header p {
    color: #fff;
    text-align: center;
    font-size: 18px; }

.artist-container .artist {
  box-shadow: 0px 0px 5px #808080;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden; }
  .artist-container .artist img {
    max-height: 182px;
    width: 100%;
    object-fit: cover;
    object-position: top; }
  .artist-container .artist p {
    padding-top: 20px;
    text-align: center; }

footer {
  padding: 20px;
  box-shadow: 0px 0px 5px #000000; }
  footer p {
    color: #fff;
    text-align: center; }
