// Defining variables
$primaryColor: #42b983;
$primaryColorHover: #369268;
$secondaryColor: #2973b7;
$darkColor: #35495e;

// Styles of the demo layout
.demo-layout {
  * {
    font-family: arial;
    color: $darkColor;
  }
  header,
  footer {
    background: $primaryColor;
    color: #fff;
    padding: 20px 30px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .main {
    .page {
      border: 2px solid $secondaryColor;
      margin: 20px 0px;
      border-radius: 5px;
      padding: 0px 30px;
      .page-title {
        color: $secondaryColor;
      }
      .component {
        border: 2px solid $darkColor;
        border-radius: 5px;
        margin: 20px 0px;
        padding: 0px 10px;
        .component-title {
          color: $darkColor;
        }
      }
    }
  }

  // Global Styles
  a,
  button {
    background: $primaryColor;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 500ms;
  }

  a:hover,
  button:hover {
    background: $primaryColorHover;
  }

  .form-group {
    margin-bottom: 10px;
    input {
      border: 1px solid $darkColor;
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;
    }
    input:focus,
    button:focus {
      outline: none;
    }
    label {
      width: 190px;
      display: inline-block;
    }
  }
  .app-list {
    padding-left: 17px;
  }
}
